* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 10%;
    height: auto;
    display: block;
}


header {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-left: 2em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    list-style: none;
    margin-top: 3em;
    margin-right: 2em;
}

 nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    
 }
