.galleryContainer {
    background: #C4E0E5;
    background: -webkit-linear-gradient(to bottom, #C4E0E5, #4CA1AF);
    background: linear-gradient(to bottom, #C4E0E5, #4CA1AF); 
    padding-bottom: 5em;
    padding-top: 2em;
    
    
}

.galleryContainer h1{
    text-align: center;
    font-family: "Playwrite CU", cursive;
    font-size: 60px;
    font-weight: 400;
    border-bottom: 2px solid rgb(81, 78, 78);
    margin-bottom: 2.5em;
    
}

.artworkContainer {
    display: flex;
    gap: 5em;
    justify-content: center;
    flex-wrap: wrap;  

}


.noArts {
    font-family: "Playwrite CU", cursive;
    font-size: 60px;
    font-weight: 400;
    padding-top: 4em;
    padding-bottom: 7em;
}