
.fav {
    font-size: 27px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 2em;
    margin-left: 1.5em;
    border-right: 2px solid rgb(204, 200, 200);
    max-width: 50%;
    
}

.fav p:last-of-type {
    margin-top: 2.4em
}

.icons img {
    display: block;
    width: 100%;
    height: auto;
    margin-right: 4em;

    
}
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;

    
   
}